@import "./var.scss";

/* 状态栏高度占位 */
.t-status_bar {
  height: var(--status-bar-height);
  width: 100%;
}

/* 显示一行，省略号 */
.t-ellipsis_1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* 显示两行，省略号 */
.t-ellipsis_2 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
